<div class="header clearfix">
<nav>
   <ul class="nav nac-pills right">
    <li class="nav-item">
      <a class="nav-link active" href="/">Início <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/acceder">Acceso</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registro">Regístro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Acerca</a>
    </li>
  </ul>
</nav>
</div>